<%- include('partials/header') %>

<div class="home d-flex align-items-center text-center">
  <div class="container">
    <div class="card mx-auto shadow" style="max-width: 20rem;">
      <div class="card-body mt-5">
        <h2 class="card-title logo">L</h2>
        <h5 class="pb-3">Log In</h5>
        <a
          class="btn btn-info btn-block btn-custom mb-3"
          href="/login"
          role="button"
          >Login</a
        >
        <p class="card-text">
          OR
        </p>
        <a
          class="btn btn-primary btn-block btn-custom"
          href="/signup"
          role="button"
          >Sign Up Now</a
        >
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
