/* base styles */
body {
  background-color: white;
}

/* go back arrow */
.back {
  display: block;
  text-align: left;
  color: black;
}
.back:hover {
  text-decoration: none;
}

/* card */
.card {
  border-radius: 25px;
}

/* button styles*/
.btn-custom {
  border-radius: 50px;
}

/* home page styles */
.home {
  height: 100vh;
}
.card {
  background-color: #f5f6fa;
  height: 400px;
}
.logo {
  background-color: #17a2b8;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  padding: 1px 10px;
}

/* login page styles */
.login {
  height: 100vh;
}

/* signup page styles */
.signUp {
  height: 100vh;
}

/* submit page styles */
.submit {
  height: 100vh;
}

/* secrets page styles */
.secrets {
  height: 100vh;
}
.secrets h1 {
  font-size: 2vmax;
}
.secrets-text {
  font-size: 1.3vmax;
  background-color: lightskyblue;
  color: white;
  border-radius: 50px;
}
